<div class="layout layout--row layout--stretch-x text--center">
  <div>
    <div class="image image-stroke">{{ waste_logo }}</div>
    <div class="title mb--2">{{ next_refuse_day }}</div>
    <div class="value value--xsmall">{{ next_refuse.Next | date: "%d/%m/%y" }}</div>
  </div>
  <div>
    <div class="image image-stroke">{{ recycling_logo }}</div>
    <div class="title mb--2">{{ next_recycling_day }}</div>
    <div class="value value--xsmall">{{ next_recycling.Next | date: "%d/%m/%y" }}</div>
  </div>
  <div>
    <div class="image image-stroke">{{ food_logo }}</div>
    <div class="title mb--2">{{ next_food_day }}</div>
    <div class="value value--xsmall">{{ next_food.Next | date: "%d/%m/%y" }}</div>
  </div>
  <div>
    <div class="image image-stroke">{{ garden_waste_logo }}</div>
    <div class="title mb--2">{{ next_garden_waste_day }}</div>
    <div class="value value--xsmall">{{ next_garden_waste.Next | date: "%d/%m/%y" }}</div>
  </div>
</div>
<div class="title_bar">
  <div class="image image-stroke">{{ title_logo }}</div>
  <span class="title">St Albans Refuse Collections</span>
</div>
